

.meinside {


padding-left: 70%;

}




.AboutMe {
  display: flex;
  flex-wrap: wrap;
  padding-left: 10%;
  padding-right: 40%;
  padding-top: 20%;
  margin-left: 10%;
  margin-right: 10%;



}



.Welcome {
  display: flex;
  flex-wrap: wrap;



  }





.paragraph {
  display: flex;
  flex-wrap: wrap;

}
