.aboutMePic {
  width: 200px;
  height: 200px;
  text-align: right;
  display:block;
  padding-bottom: 60%;
  padding-top: -20%;
  padding-left: 70%;

}

.list {
  padding-right: 50%;
}

h1.welcome {
  padding-top: 60%;

}

h2.intro {
  padding-top: -200%;
  padding-right: 40%;
  font-size: 25px;

}



.table {
  text-align: left;
  padding-right: 40%;
}
