
.newContainer {
  background-color: #dfb600;
}

//qualifications// 


.newContainer > h1 {
  font-size: 70px;
  background-color: #dfb600;
  color: white;
  position: relative;
  text-align: center;
  color: white;
  position: absolute;
  top: 8px;
  right: 16px;
  
  
}

.me {
  height: 100%;
  max-width: 600px;
  
}


.Sub {
  position: absolute;
  bottom: 8px;
  right: 16px;
}