.Blog-Container {
  background-color: gray;

}


.welcome {
  color: White;
  text-align: center;
  padding-left: 0;
  padding-right: 0;
}


.header {

  color: white;
  text-align: center;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;


}

.Blog1 {
  padding-top: 0;
}


.Quincy {
background-color: white;
}

.Productivity {
  background-color: white;
  object-fit: cover;
}
