.Blog-Container {
  background-color: gray;

}


.welcome {
  color: White;
  text-align: center;
  padding-left: 0;
  padding-right: 0;
}


.header {

  color: white;
  text-align: center;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;


}

.Blog {
  padding-top: 0;
  padding-left: 10%;
  padding-right: 10%;
}



.footer {
  margin-left: 0%;
  margin-right: 0%;
}

.happy {
  padding-bottom: 10%;
  text-align: center;
}

.blog {
  margin-top: 0;
  padding-top: 10%;
  padding-bottom: 10%;
  text-align: center;
  color: white;
}
.Quincy {
background-color: white;
text-align: left;
}

.Quincy{
  font-weight: bold;
   transition: all 500ms;
}

.Quincy:hover {
  font-size: 20px;
  font-size-adjust: 30px;
}


.Productivity {
  background-color: white;
  object-fit: cover;
  text-align: left;
}

.Productivity {
  font-weight: bold;

   transition: all 500ms;
}

.Productivity:hover {
  font-size: 20px;
  font-size-adjust: 30px;
  cursor: pointer;
}

.para {
  font-weight: normal;
  padding-left: 5%;
  padding-right: 20%;
  cursor: pointer;
}

.pub {
  padding-left: 5%;
  padding-right: 20%;
  cursor: pointer;
}

.time {
  padding-left: 5%;
  padding-right: 20%;
  cursor: pointer;

}

.title {
  padding-left: 5%;
  padding-right: 20%;
  padding-top: 2%;
  cursor: pointer;
}

.sub {
  font-weight: normal;
  cursor: pointer;
}
