* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}


.letter {
  width: 400px;
  height: 400px;
}

.resume {
  width: 400px;
  height: 400px;
}

.coverletter {
  width: 400px;
  height: 400px;
}

.welcome {
  padding-right: 50%;
}
