* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
  position: relative;
  width: 50%;
}


.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: grey;
}

.column:hover .overlay {
  opacity: 1;
}

.column {
  position: relative;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}


.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}


.letter {
  width: 400px;
  height: 400px;
}

.resume {
  width: 400px;
  height: 400px;
}

.coverletter {
  width: 400px;
  height: 400px;
}

.welcome {
  padding-right: 50%;
}
