
.welcomeSkills {
  padding-right: 60% !important;
  padding-left: 10% !important;
  padding-top: 20%;
}

canvas.chartjs-render-monitor {
  padding-left: 5%;
  padding-right: %;
  height: 600px !important;
  width: 1200px !important;

}
.graphWrapper {
  padding-left: 10%;
  padding-right: 10%;
}